html {
    overflow-y: scroll;
}

body {
    background-color: beige;
}

header {
    width: 50rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

header h1 {
    font-weight: bold;
    font-size: 2.8rem;
    margin: 0;
}

.panel {
    position: relative;
    box-sizing: border-box;
    left: 50%;
    transform: translateX(-50%);
    width: 50rem;
    transition: 1s;
}

.panel label .content h2 {
    font-weight: bold;
    font-size: 1.6rem;
    color: rgb(15, 116, 217);
}

.panel label .content {
    border-top: 1px solid rgb(156, 156, 156);
    transition: 1s;
    height: 4.4rem;
    cursor: pointer;
}

.panel label .content img {
    position: absolute;
    width: 0rem;
    height: 0rem;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.4s;
}

.panel label input {
    position: absolute;
    left: -9999px;
}

.panel:hover{
    overflow: visible;
    transition: 1s;
}

.panel:hover .content{
    height: 23.75rem;
    transition: 1s;
}

.panel:hover label .content img {
    height: 18.75rem;
    width: 20rem;
    transition: 1s;
}

.panel label input:checked ~ .content {
    height: 23.75rem;
    transition: 1s;
}

.panel label input:checked ~ .content img {
    height: 18.75rem;
    width: 20rem;
    transition: 1s;
}

.panel label input:checked ~ .content h2 {
    color: black;
}

.accordion {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
}

.accordion:hover .panel label .content h2 {
    color: black;
}

.icon img {
    width: 1.56rem;
    height: 1.56rem;
    transform: rotateZ(0deg);
    transition: 1s;
}

.icon {
    position: absolute;
    top: 1.5rem;
    right: 0;
    cursor: pointer;
}

.panel label input:checked ~ .icon img {
    transform: rotateZ(315deg);
    transition: 1s;
}

.panel:hover label input:checked ~ img {
    transform: rotateZ(0deg);
}

.panel:hover label .icon img {
    transform: rotateZ(315deg);
    transition: 1s;
}