body {
    background-color: beige;
}

header {
    width: 800px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

header h1 {
    font-weight: bold;
    font-size: 45px;
    margin: 0;
}

.panel {
    position: relative;
    box-sizing: border-box;
    left: 50%;
    transform: translateX(-50%);
    width: 800px;
    overflow: hidden;
    transition: 1s;
}

.panel .content h2 {
    font-weight: bold;
    font-size: 25px;
}

.panel button {
    position: absolute;
    top: 0;
    right: 200px;
}

.panel .content {
    border-top: 1px solid rgb(156, 156, 156);
    height: 50px;
    transition: 1s;
}

.panel .content img {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 50%;
    transform: translateX(-50%);
    transition: 1s;
}

.panel input {
    position: absolute;
    left: -9999px;
}

.panel:hover{
    overflow: visible;
    transition: 1s;
}

.panel:hover .content{
    height: 380px;
    transition: 1s;
}

.panel:hover .content img {
    height: 300px;
    width: 320px;
    transition: 1s;
}